
{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col col-md-8 offset-md-2">
    <div class="jumbotron bg-light text-center" style="margin-top: 10px;">
      <h1>About CryptoR</h1>


      <!-- <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
      responsive, mobile-first projects on the web.</p> -->
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2><b>The CryptoR Ratings Scale</b></h2>
            <p>Investors should interpret the CryptoR grade scale with these terms:</p>
            <p>A = excellent</p>
            <p>B = good</p>
            <p>C = fair</p>
            <p>D = weak</p>
            <p>E = very weak</p>
            <p><strong>Disclosure of Model Components</strong></p>
            <p>Once armed with the specific formulas or processes of a ratings model, some rated entities seek to game the system: They try to manipulate data they can influence or control with the goal of achieving an unfair advantage. To help avoid this outcome, disclosure must proceed in phases, beginning with a broad description of the four key indexes in the Weiss Cryptocurrency Ratings model. These are:</p>
            <ol>
          <li><strong> The Cryptocurrency Risk Index. </strong>A composite of sub-indexes that measure relative and absolute price fluctuations over multiple time frames.</li>
          <li><strong> The Cryptocurrency Reward Index. </strong>A composite of sub-indexes that evaluate returns compared to moving averages.</li>
          <li><strong> The Cryptocurrency Discussion Index. </strong>A composite of sub-indexes calculated by measuring mentions of crypto across our five tier sources.</li>
          </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h2><b>The Source Rating Scale</b></h2>
            <p>Investors should interpret the CryptoR grade scale with these terms:</p>
            <p>Tier 1 = excellent</p>
            <p>Tier 2 = good</p>
            <p>Tier 3 = fair</p>
            <p>Tier 4 = weak</p>
            <p>Tier 5 = very weak</p>
            <p>We have rated our sources based on their mentions in Wikipedia.</p>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
